@keyframes intro {
  0% {
    color: red;
    opacity: 1;
    margin-top: 0;
  }
  50% {
    opacity: 1;
    margin-top: 0;
    color: red;
  }
  70% {
    opacity: 1;
    margin-top: 0;
    color: white;
  }
  100% {
    opacity: 0;
    margin-top: -160px;
    color: white;
  }
}

@keyframes comeBut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes comeGame {
  0% {
    opacity: 0;
    margin-top: 0;
  }
  100% {
    opacity: 1;
    margin-top: -400px;
  }
}
